<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <p>Hello {{Username}}</p>
        <form action="" onsubmit="sendMessage(event)">
            <label for="Messanger">Your Messange </label>
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            const quary_search = new URLSearchParams(window.location.search)
            const name = quary_search.get('Username')
            const room_id = quary_search.get('room_id')
            var ws = new WebSocket("ws://localhost:8000/chat/ws?" + "name=" + name + "&room_id=" + room_id);

            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")

                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            };
        </script>
    </body>
</html>